@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



:root{
    --cor01: #BF6565;
    --cor02: #D98484;
    --cor03: #F2BFBB;
    --cor04: #59302C;
    --cor05: #011526;
    --font01: 'Merriweather', serif;
    --font02: 'Quicksand', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: var(--font01);

}

header{
    height: 100vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.4)),  url(../imagens/pexels-nubikini-385976.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center ;
    justify-content: center;
}

header a{
    text-decoration: none;
    color: white;
    margin: 15px;
    padding: 10px;
}

.capa{
    height: 90%;
    width: 80%;
    background: url(../imagens/AdobeStock_1355352827_Video_HD_Preview-_2_.gif) no-repeat center;
    background-size: auto;
    
}

.capa a{
    position: relative;
    top: 20px;    
}

.capa a:hover{
    color: var(--cor03);
    transition-duration: 0.5s;
}

.capa h1{
    position: relative;
    color: white;
    width: 256px;
    text-align: justify;
    left: 20%;
    top: 57%;
}

main{
    font-family: var(--font02);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0;
}

#title{
    color: #59302C;
    margin-top: 15px;
    padding: 10px;

}
.servicos{
    margin-top: 6px;
    display: grid;
    grid-template-columns: 2fr 1fr 1px 1fr;
    justify-content: center;
    gap: 60px;
    height: 700px;
}

.divisor{
    grid-column: 3;
    background-color: #011526;
    width: 0.5px;
    height: 600px;
}

.foto-mudanca{
    
    justify-self: center;
}
.servicos > .foto-mudanca img{
    width: 400px;
    height: 560px;
    justify-self: center;
}

.foto-mudanca img {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.foto-mudanca img.fade-out {
  opacity: 0;
}


.servicos > .text-posi > .texto-mudanca{
    
    justify-self: center;
    align-self: center;
    margin-bottom: 50px;
    padding: 40px;

}

.texto-mudanca:hover{
    cursor: pointer;
    color: #D98484;
    transition-duration: 0.5s;
}

.text-posi{
    font-size: 1.6em;
    margin: 0;
}

.feedbacks{
    overflow: hidden;
    position: relative;
    width: 1400px;
    height: 700px;
    z-index: 1;

}

.feedbacks h1{
    font-size: 2.5em;
    color: #59302C;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-track{
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px;
    border-radius: 15px;
    
}

.carousel-wrapper {
  overflow: hidden;
  position: relative;
  height: 500px;
}

.avaliacoes{

    height: 450px ;
    width: 400px ;
    border: 0.5px solid #0000003d ;
    /*display: flex;*/
    text-align: center;
    text-align: justify;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.293);
    
   

}

.avaliacoes h2{
   color: var(--cor04);
   width: 400px;
   text-align: left;
   font-size: 1.8em;
   margin-bottom: 25px;
   margin-top: 15px;
}

.stars{
    color: #011526;
    text-align: left;
    font-size: 2em;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #011526;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}



.modelos{
    overflow: hidden;
    position: relative;
    width: 1400px;
    height: 700px;
    border-radius: 15px;
    z-index: 1;
}

.modelos img{
    height: 550px;
    width: 500px;
}

.modelos h1{
    font-size: 2.5em;
    color: #59302C;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-models img{
    border-radius: 15px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.293);
}


.faixa-container {
    position: relative;
}

.faixa-rosa {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 700px; /* altura total: 350 + 350 */
    background-color: var(--cor01);
    transform: translateY(-50%);
    z-index: 0;
}

.feedbacks,
.modelos {
    position: relative;
    z-index: 1; /* fica acima da faixa rosa */
}



.sobre{
    
    display: grid;
    grid-template-columns: 49vw 49vw;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.text-sobre{
    align-self: center;
    justify-self: center;
    text-align: justify;
}

.img-sobre{
    align-self: center;
    justify-self: center;
}

.text-sobre p {
    padding: 15px;
}

.form{
    background: var(--cor01);
    width: 99vw;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-item{
    background: white;
    width: 30vw;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 15px;
}

.form-item label {
    display: block;
    font-weight: bold;
    margin-top: 25px;
    font-size: 1.2em;
    color: #011526;
}

.form-item button{
  margin-top: 40px;
  background-color: var(--cor05);
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.form-item button:hover{
    background: #010c16;
}

.form-item input,
.form-item select{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


@media screen and (max-width: 768px) {

  nav{
    display: none;
  }

  .servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
    gap: 30px;
  }

  .foto-mudanca img {
    width: 90vw;
    height: auto;
    max-width: 400px;
  }

  .divisor {
    display: none;
  }

  .text-posi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    justify-items: center;
  }

  .texto-mudanca {
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
  }

  .feedbacks {
    width: 100vw;
    height: auto;
  }

  .carousel-wrapper {
    height: 500px;
    overflow: hidden;
    width: 100vw;
  }

  .carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    width: max-content;
  }

  .avaliacoes {
    min-width: 85vw;
    max-width: 85vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 20px;
  }

  .arrow {
    top: unset;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    background-color: var(--cor03);
    color: #fff;
  }

  .modelos{
    width: 98vw;
    height: auto;
    gap: 10px;
  }

  .img-models{
    min-width: 85vw;
    max-width: 85vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 20px;
  }

  .sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sobre > .text-sobre{
    width: 90vw;
    text-align: justify;
    height: 50vh;

  }



  .form-item{
    width: 80vw;
  }



}

